---
import Globo from '@components/Globo.astro'
import Planet from '@components/Planet.astro'
import Search from '@components/Search'
import Stars from '@components/Stars.astro'
---

<section class="hero w-svw h-svh top-0 left-0 relative overflow-hidden">
  <div class="wall w-svw h-[70svh] relative flex items-center flex-col-reverse gap-32">
    <div class="portal absolute overflow-hidden bottom-0 margin-auto max-w-xl rounded-tl-full rounded-tr-full h-[90%] w-5/6 z-10">
      <Stars />
    </div>
    <Globo />
    <Planet planet1 />
    <Planet planet2 />
    <div class="absolute bottom-0 flex margin-auto max-w-3xl justify-between items-end">
      <div class="w-2/5 h-auto relative -ml-20 -mb-4 z-10">
        <img src="hero/hero-left-ornament.webp" alt="ornamentos de la izquierda" class="left-ornament-shine z-20" />
        <img src="hero/hero-left-ornament.webp" alt="ornamentos de la izquierda" class="left-ornament z-10 absolute top-0" />
      </div>
      <div class="w-2/5 h-auto relative -mb-4 -mr-20 z-10">
        <img src="hero/hero-right-ornament.webp" alt="ornamentos de la derecha" class="right-ornament-shine z-20" />
        <img src="hero/hero-right-ornament.webp" alt="ornamentos de la derecha" class="right-ornament z-10 absolute top-0" />
      </div>
    </div>
    <div class="flex justify-between z-10 -mb-12 gap-12">
      <div class="relative w-48 flex">
        <img src="hero/hero-left-book.webp" alt="Libro abierto en el centro de la imagen" class="left-book hidden md:block z-20 w-full h-auto mx-auto bottom-0" />
      </div>
      <div class="relative w-80">
        <img src="hero/hero-center-book.webp" alt="Libro abierto en el centro de la imagen" class="center-book z-20 w-full h-auto mx-auto bottom-0" />
        <img src="hero/hero-center-book.webp" alt="Libro abierto en el centro de la imagen" class="center-book-2 -z-10 w-full top-0 h-auto mx-auto absolute bottom-0" />
      </div>
      <div class="relative w-48 flex items-center pt-4">
        <img src="hero/hero-right-book.webp" alt="Libro abierto en el centro de la imagen" class="right-book hidden md:block z-20 w-full h-auto mx-auto bottom-0" />
      </div>
    </div>
    <div class="flex flex-col gap-4 items-center justify-center z-10 text-white">
      <div class="flex justify-center items-center flex-col">
        <h1 class="pretitle text-balance font-bold mb-0">Cuentos interactivos</h1>
        <span class="title font-thin text-center text-balance leading-none">¿Qué camino eliges?</span>
      </div>
      <Search client:load />
    </div>
  </div>
</section>

<style>



  .hero {
    perspective: 1000px;
    transform-style: preserve-3d;
  }

  .pretitle {
    color: #fff;
    text-shadow: 1px 1px 2px #4e4e4e;
    font-size: clamp(.5em,4vw + .5em,1em);
  }

  .title {
    color: #eb8c76;
    text-shadow: 1px 1px 2px #4e4e4e;
    font-size: clamp(1.5em,4vw + .5em,3em);
  }

  .wall {
    position: relative;
    background-image: radial-gradient(ellipse 50% 100% at center, rgba(209, 198, 181, 1) 39%, rgba(179, 163, 162, 1) 80%);
  }

  .hero::after {
    content: '';
    background-image: radial-gradient(circle at center,rgba(254,249,226,1) 0%,rgba(232,220,199,1) 39%,rgb(177 168 168) 80%);
    transform-origin: top;
    transform-style: preserve-3d;
    transform: rotateX(70deg);
    position: absolute;
    width: 100svw;
    height: 100svh;
  }

  .portal {
    background-image: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  }

  .right-ornament-shine,
  .left-ornament-shine,
  .center-book {
    filter: drop-shadow(0 -50px 50px #b7ecfc);
  }

  .center-book-2 {
    filter: drop-shadow(0px 0px 16px black);
  }

  .right-book,
  .left-book {
    filter: drop-shadow(0px 0px 8px black);
  }
  
  .right-ornament {
    filter: drop-shadow(-8px 16px 16px rgba(0,0,0,.5));
  }

  .left-ornament {
    filter: drop-shadow(4px 12px 12px rgba(0,0,0,.5))
  }

</style>