---
import Layout from "@layouts/Layout.astro"
import { turso } from '../turso'
import HeroSection from '@components/sections/Hero.astro'
import CategoriesSection from '@components/sections/Categories.astro'
import BooksSection from '@components/sections/Books.astro'

const { rows } = await turso.execute('SELECT id, slug, title, description, keywords, created_at FROM stories;')
const bookList = rows
---

<Layout title="título" description="super descripción">
	<HeroSection />
	<CategoriesSection />
	<BooksSection bookList={bookList} />

	<a href="/create-story">Crear historia</a>
</Layout>
