---
import { type BreadCrumbProps } from '@types';
const { breadcrumb } = Astro.props;
---

<ul class="px-4 flex flex-wrap">
  {
    breadcrumb.map(({ title, slug, current, back }: BreadCrumbProps) => (
      <li class="inline">
        {
          current ? (
            <span>{title}</span>
          ) : (
            back ?
              <button onclick="history.back()">{title}</button>
            : <a href={slug} class="hover:text-primary">
              {title}
            </a>
          )
        }
        {
          !current && (
            <span> / </span>
          )
        }
      </li>
    ))
  }
</ul>