---
import Facebook from "@src/icons/facebook.astro";
import Instagram from "@src/icons/instagram.astro";
---

<footer>
	<span class="sc block">El Árbol de las Historias</span>
	<span class="opacity-70">¿Qué camino eliges?</span>
	<div class="social-links">
		<a href="https://www.instagram.com/cuentosinteractivos/" target="_blank">
			<span class="sr-only">Seguir en Instagram</span>
			<!-- Icono de Instagram -->
			<Instagram width="32" height="32" />
		</a>
		<a href="https://facebook.com/cuentosinteractivos.arboldelashistorias" target="_blank">
			<span class="sr-only">Seguir en facebook</span>
			<Facebook width="32" height="32" />
		</a>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
