---
const { tag = 'p', text, class:className = '', clamp = 0 } = Astro.props;
const Tag = tag;
---



<Tag class:list={[
  'anchor relative',
  className
]}>
  {text}
  <span class="tooltip">
    <slot>
      {text}
    </slot>
    <span class="tooltip-arrow" />
  </span>
</Tag>

<style>

  .anchor:hover .tooltip {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(calc(-100% - 15px));
  }

  .tooltip {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(calc(-100% - 10px));
    background: #1f2937;
    color: white;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s;
  }

  .tooltip-arrow {
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    background: #1f2937;
    clip-path: polygon(50% 100%, 0 0, 100% 0);
  }
</style>